*{
    margin: 0px; padding: 0px; box-sizing: border-box;
   }


   .row{
      
      margin-left: 10px;
      padding-left: 3%;
      padding-right: 3%;
     
     
   }
   
  
   .img-circular{
    width: 80px;
    height: 80px;
    /* background-image: url('1.jpg'); */
    background-size: cover;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
   }

   .col-sm-4{
    /* display: flex;
    align-items: center;
   justify-content: center;*/
   border: 1px solid white ; 
    
    padding: 20px;
   }

   .col-sm-3{
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid white ;
   }

   .col-sm-2{
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid white ;
   }

   .col-sm-1{
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid white ;  
    }


    #name-loc{display: flex;
    align-items: center;
   justify-content: center;

    }
    .details{
       display: flex;
       position: relative;
    }
    .name-tag{
        
        position: absolute;
        left: 27%;
        
    }
    .location-tag{
       
        position: absolute;
        right: 25%;
        top:40%;
        

    }